
/* ********************** NOTES STYLE ********************** */

.container {
max-width: 960px;
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;

}

.note-item {
  color: white;
  background-color: #1a1633;
  opacity: 0.8;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* .note-item:nth-child(4n + 1) {
  background-color: #f3722c;
  opacity: 0.8;
}


.note-item:nth-child(4n + 2) {
  background-color: #f8961e;
  opacity: 0.8;
}


.note-item:nth-child(4n + 3) {
  background-color: #f9844a;
  opacity: 0.8;
}

.note-item:nth-child(4n + 4) {
  background-color: #f9c74f;
  opacity: 0.8;
}

.note-item:nth-child(4n + 5) {
  background-color: #90be6d;
  opacity: 0.8;
}

.note-item:nth-child(4n + 6) {
  background-color: #43aa8b;
  opacity: 0.8;
}

.note-item:nth-child(4n + 7) {
  background-color: #4d908e;
  opacity: 0.8;
}

.note-item:nth-child(4n + 8) {
  background-color: #577590;
  opacity: 0.8;
}

.note-item:nth-child(4n + 9) {
  background-color: #277da1;
  opacity: 0.8;
} */



.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.note-item.new {
  background-color: #a381d2;
  opacity: 0.8;
}

textarea {
  border: none;
  resize: none;
  background-color: #a381d2;
  opacity: 0.8;
}

textarea:focus {
  outline: none;
}